@page
@model SchoolFeedback.Pages.Feedback.InsertModel
@{
    ViewData["Title"] = "Insert";
}


<h1 class="display-4"><i class="fas fa-comment-medical yellow"></i> Inserisci feedback</h1>
<br />
<hr />
<form method="post">
    <div class="form-group">
        <label><b>Titolo</b></label>
        <input type="text" class="form-control" asp-for="Input.Titolo" placeholder="Titolo" autocomplete="off" />
    </div>
    <div class="form-group">
        <label><b>Commento</b></label>
        <textarea type="text" class="form-control" asp-for="Input.Commento" placeholder="Commento" rows="5" autocomplete="off"></textarea>
    </div>
    <div class="form-group">
        <label><b>Dai una valutazione</b></label>
        <br />
        <i class="far fa-star rating fa-2x" id="1"></i><i class="far fa-star rating fa-2x" id="2"></i><i class="far fa-star rating fa-2x" id="3"></i><i class="far fa-star rating fa-2x" id="4"></i><i class="far fa-star rating fa-2x" id="5"></i>



        <input type="hidden" class="form-control" asp-for="Input.Rating" id="txtRating" />
    </div>
    <input type="hidden" asp-for="Input.Servizio" value="@Model.idServizio" />
    <button type="submit" class="btn btn-outline-success" style="width:100%;"><i class="fas fa-rocket"></i> INSERISCI</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var selected = 1;
        $(".rating").hover(function () {
            for (i = 1; i <= $(this).attr('id'); i++) {
                $("#" + i).addClass("fas");
                $("#" + i).removeClass("far");
            }
        }, function () {
            $(this).attr('id');
            for (i = selected + 1; i <= $(this).attr('id'); i++) {
                $("#" + i).addClass("far");
                $("#" + i).removeClass("fas");
            }
        });
        $(".rating").click(function () {
            for (i = 1; i <= 5; i++) {
                $("#" + i).addClass("far");
                $("#" + i).removeClass("fas");
            }
            selected = $(this).attr('id');
            for (i = 1; i <= selected; i++) {
                $("#" + i).addClass("fas");
                $("#" + i).removeClass("far");
            }
            $("#txtRating").val($(this).attr('id'));
        });
    });


</script>
